@model SuperDumpService.ViewModels.LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<body>
	@using (Html.BeginForm("Login", "Login", FormMethod.Post)) {
		<br />
		if (Model.WrongCredentials) {
			<div class=" alert alert-danger">The Login Has Failed!</div>
		}
		<input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />

		<div class="form-group">
			<label>Username</label>
			<input class="form-control" asp-for="Username" />
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" asp-for="Password" value="" />
		</div>
		<div class="form-group form-check">
			<input class="form-check-input" asp-for="RememberMe" type="checkbox" />
			<label class="form-check-label" style="padding-left: 1.5em">Remember me</label>
		</div>
		<input class="btn btn-primary" type="submit" value="Login" />

		@Html.AntiForgeryToken()
	}
</body>

