@model SuperDumpService.ViewModels.ReportViewModel

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Identical Dumps</h5>
		@if (!Model.IdenticalDumps.Any()) {
			<h6 class="card-subtitle mb-2 text-muted">No Identical Dumps Found</h6>
		} else {
			var identicals = Model.IdenticalDumps;
			<p class="card-text">@identicals.Count() identical dumps found.</p>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseIdenticals" aria-expanded="false" aria-controls="collapseIdenticals">
				Hide/Show
			</button>
			<div class="collapse show" id="collapseIdenticals">
				<ul class="list-group list-group-flush">
					@foreach (var rel in identicals.OrderByDescending(k => k.BundleFileName)) {
						<li class="list-group-item">
							<dl>
								<dt class="col-sm-4 text-right">BundleId:</dt>
								<dd class="col-sm-8">@rel.BundleId</dd>
								<dt class="col-sm-4 text-right">Filename:</dt>
								<dd class="col-sm-8">@System.IO.Path.GetFileName(rel.BundleFileName)</dd>

								@if (Model.UseJiraIntegration) {
									<partial name="_JiraIssues" model="@Model.JiraIssues[rel.BundleId]" />
								}
							</dl>
						</li>
					}
				</ul>
			</div>
		}
	</div>
</div>