@{
	ViewData["Title"] = "About";
}
<h1>About SuperDump</h1>
<p>SuperDump is a service for <i>automated Windows and Linux crash-dump analysis</i>.</p>

<p>More about it on <a href="https://github.com/Dynatrace/superdump">github.com/Dynatrace/superdump</a></p>