@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Welcome";
}

<h2>@ViewData["Title"]</h2>
<br />
<h3>Description</h3>
<ul>
	<li><strong>New analysis</strong> - Create a new dump analysis</li>
	<li><strong>Get analysis report</strong> - Get a report for id</li>
	<li><strong>Overview</strong> - Overview of all id's and their status</li>
</ul>