@model SuperDumpService.ViewModels.ReportViewModel
@using SuperDumpService.Helpers
@using SuperDumpService.Models
@using SuperDumpService.ViewModels

@{
	ViewData["Title"] = "Interactive Mode";
}
<div id="webtermConsole" class="left-aligned"></div>