@model SuperDumpService.ViewModels.ReportViewModel
@{
	ViewData["Title"] = "Rerun triggered";
}
<h1>You've re-triggered analysis</h1>
<p>You'll be redirected to the report in 3 seconds...</p>
<script>
	setTimeout(function () {
		window.location.replace("@SuperDumpService.Helpers.Utility.GetDumpUrl(Model.Id)");
	}, 3000);
</script>
