<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!-- dev environment -->
    <add key="superdumpx86" value="..\..\..\SuperDump\bin\x86\SuperDump.exe"/>
    <add key="superdumpx64" value="..\..\..\SuperDump\bin\x64\SuperDump.exe"/>

    <!-- deployment environment -->
    <add key="superdumpx86_deployment" value="..\..\SuperDumpx86\SuperDump.exe"/>
    <add key="superdumpx64_deployment" value="..\..\SuperDumpx64\SuperDump.exe"/>
  </appSettings>
</configuration>
