@{
	ViewData["Title"] = "Similarity";
}
<div class="container">
	<br /><br /><br />
	@using (Html.BeginForm("TriggerSimilarityAnalysisForAllDumps", "Similarity")) {
		<input type="hidden" name="force" value="false" />
		<span>days:</span> <input type="text" name="days" value="30" />
		<input type="submit" value="Trigger Duplicate Detection for all dumps in the last X days" />
	}
	<br />
	@using (Html.BeginForm("TriggerSimilarityAnalysisForAllDumps", "Similarity")) {
		<input type="hidden" name="force" value="true" />
		<span>days:</span> <input type="text" name="days" value="30" />
		<input type="submit" value="Trigger Duplicate Detection for all dumps (force all, even if analysis is already done) (!!!)" />
	}
	<br />
	@using (Html.BeginForm("CleanSimilarityAnalysisQueue", "Similarity")) {
		<input type="submit" value="Clean queue for similarity analysis" />
	}
	<br />
	@using (Html.BeginForm("WipeAll", "Similarity")) {
		<input type="submit" value="Delete All similarity files (!!!!)" />
	}
</div>